.archive .row .col {
	vertical-align: middle;
}
.archive .project-item {
	min-height: 0;
	color: #8594a3;
	font-size: 16px;
}
.archive .project-item:hover {
	color: #8594a3;
}
.archive .project-name {
	text-align: left;
}
.archive .project-link .btn {
	min-width: 0;
	width: 100%;
}

.project-item {
	display: block;
	padding: 18px 30px;
	min-height: 188px;
	margin: 0 0 20px;
	border: none;
	background: #fff;
	border: 1px solid #e7eaec;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #3c5063;
	position: relative;
	width: 100%;
	height: 220px;
}

.project-item .ico-area {
	display: block;
	font-size: 42px;
	line-height: 1em;
	margin: 0 0 10px;
}

.project-item .title {
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #3c5063;
	margin: 0 0 14px;
}


a.project-item:hover {
	color: #2C1E43;
	box-shadow: 0 0 5px #52cdf5;
}

.project-item.completed:focus, .project-item.mark-as-complete:focus {
	outline: none;
}
.project-item.completed .checkmark, .project-item.mark-as-complete .checkmark {
	background-image: url(assets/checkmark.svg);
	background-repeat: no-repeat;
	background-color: #ff5f5f;
	background-position: center;
	background-size: 13px;
	border-radius: 25px;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
}
.project-item.mark-as-complete .checkmark .tooltip {
	width: auto;
	white-space: nowrap;
	right: calc(-50% - 33px);
}

.project-item.inactive {
	opacity: 0.5;
	pointer-events: none;
}
.project-item.unclickable {
	pointer-events: none;
}
.project-item.unclickable .checkmark {
	pointer-events: auto;
}

.project-item .checkmark .tooltip {
	background: #262626;
	padding: 7px 10px;
	border-radius: 3px;
	position: absolute;
	z-index: 3;
	color: #FFF;
	font-size: 12px;
	right: calc(-50% - 12px);
	top: -48px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(8px);
	transition: visibility 0s, transform 0.3s, opacity 0.3s;
}

.project-item .checkmark:hover .tooltip {
	transform: translateY(0px);
	visibility: visible;
	opacity: 1;
}

.project-item.completed .checkmark .tooltip .arrow, .project-item.mark-as-complete .checkmark .tooltip .arrow {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #262626;
	position: absolute;
	right: calc(50% - 10px);
	top: 32px;
}
.project-item.mark-as-complete .checkmark {
	background-color: #cad7dd;
}
.project-item.mark-as-complete .checkmark:hover {
	background-color: #8794a1;
}
.snip1578 {
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative;
	display: inline-block;
	margin: 10px;
	min-width: 230px;
	max-width: 315px;
	width: 100%;
	color: #000;
	text-align: left;
	font-size: 16px;
	background: #fff;
	border-radius: 5px;
}

.snip1578 *,
.snip1578:before,
.snip1578:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.snip1578 img {
	max-width: 35%;
	margin-top: -15px;
	margin-left: 60%;
	margin-bottom: 15px;
	backface-visibility: hidden;
	vertical-align: top;
	border-radius: 5px;
}

.snip1578 figcaption {
	position: absolute;
	top: 0;
	right: 40%;
	left: 0;
	bottom: 0;
	padding: 15px;
}

.snip1578 h3 {
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
}

.snip1578 .icons {
	font-size: 1.6rem;
}

.snip1578 .icons a {
	color: #ccc;
}

.snip1578 .icons a:hover {
	color: #2980b9;
}
.btn-primary{
	background: #1b0b33;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Calibri', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.btn-primary:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.faq_section{
	margin:40px auto;
}
.FaQ_Each{
	padding-bottom: 10px;
}
.box  {
	/*background: rgba(246, 246, 246, 1);*/
	color: #666666;
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 20px;
	font-size: 13px;
	text-transform: none;
	cursor:pointer;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
.boxs  {
	/*background: rgba(246, 246, 246, 1);*/
	color: #666666;
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 20px;
	font-size: 13px;
	text-transform: none;
	cursor:pointer;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
.box-s  {
	/*background: rgba(246, 246, 246, 1);*/
	color: #666666;
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 20px;
	font-size: 13px;
	text-transform: none;
	cursor:pointer;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
.draw {
	display: none;
	background: #ffffff;
	padding: 20px;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	color: #000000;
	padding-left:30px;
}
#other{
	display: none;
}
@media only screen and (min-width: 576px)
{
	.modal-dialog {
		max-width: 680px !important;
		margin: 30px auto;
	}
}

@media only screen and (max-width: 1000px)
{
	.project-item .title b{font-size: 15px;}
	.project-item .title {font-size: 12px;}

}
[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
	display: none;
}
[data-notify="container"].alert-danger {
	background: #E12C39;
	color: white;
}
[data-notify="container"].alert-primary {
	background: #332647;
	color: white;
}
[data-notify="dismiss"]{
	color: white;
}
.customFont li a{font-size: 12px !important;}
@media only screen and (max-width: 480px)
{
	.customLogo{width: 230px;}
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}